# Optional: if not provided, Groq will use whisper-large-v3-turbo.
WHISPER_MODEL=small

GROQ_API_KEY=<api_key>

TELEGRAM_BOT_API_KEY=<api_key>
TELEGRAM_MY_USER_ID=<my_user_id>

# The integration strategy. Can be Anytype or Google Spreadsheets.
INTEGRATION_STRATEGY=spreadsheets/anytype

# Optional: only if you will use Anytype
ANYTYPE_HOST=localhost
ANYTYPE_PORT=31009
ANYTYPE_API_KEY=<api_key>
ANYTYPE_SPACE_ID=<space_id>

# Optional: only if you will use Google Spreadsheets
GOOGLE_SPREADSHEET_ID=<your spreadsheet id>
GOOGLE_SPREADSHEET_TAB=<your spreadsheet tab>